<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodautodeal.goodautodeal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activities.OtpVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.PackagesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.WelcomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.FilterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.FavouriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.DealerMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.CarAdDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.CarInsuranceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.DealersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.CarFinanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.CarViewAdListingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.AdsManagementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.PostAdSucesssActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.ValueYourCarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.AccessoriesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.SellMyCarPartFiveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.SellMyCarPartFourActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.SellMyCarPartThreeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.SellMyCarPartTwoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.SellMyCarPartOneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".views.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>